/* 1. Primero TODOS los imports */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* 2. Después el bloque de configuración @theme */
@theme {
  --font-fredoka: "Fredoka", sans-serif;
  
  --font-size-h-extra-xl: 6em;
  --font-size-h-xxl: 5em;
  --font-size-h-xl: 4em;
  --font-size-h-lg: 2.5em;
  --font-size-h-md: 2em;
  --font-size-h-sm: 1.5em;
  --font-size-h-xs: 1em;
  --font-size-body: 0.875em;
  --font-size-link-lg: 2.5em;
  --font-size-link-md: 1.2em;
  --font-size-link: 1em;
  --font-size-link-xs: 0.75em;

  --color-c-text: #211832;
  --color-c-text-two: #758A93;
  --color-c-active-one: #5A9CB5;
  --color-c-active-two: #FACE68;
  --color-c-active-three: #FA6868;
  --color-c-active-four: #BADFDB;
  --color-c-hover: #FEEAC9;

  --spacing-s-xxl: 8rem;
  --spacing-s-xl: 4rem;
  --spacing-s-lg: 3rem;
  --spacing-s-md: 2rem;
  --spacing-s-sm: 1rem;
  --spacing-s-xs: 0.5625rem;
  
  --radius-r-md: 3rem;
  --radius-r-mmd: 1.5rem;

  --shadow-btn: 6px 6px 0 rgba(85, 88, 121, 0.6);
  --shadow-btn-sm: 2px 2px 0 rgba(85, 88, 121, 0.6);
}

/* 3. Por último las capas base o estilos globales */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fredoka);
  }
  body {
    background-color: var(--color-c-active-four);
    color: white;
    overflow: visible;
  }
  ul { list-style: none; }
  a { text-decoration: none; color: inherit; }
}

@layer utilities {
  .text-stroke-white {
    text-shadow: 
      -2px -2px 0 #ffffff,
       2px -2px 0 #ffffff,
      -2px  2px 0 #ffffff,
       2px  2px 0 #ffffff,
       4px  4px  8px rgba(0, 0, 0, 0.5);
  }
}




/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
